// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #000000;
$dark-gray: #363636;
$gray: #858585;
$light-gray: #D9D9D9;
$white: #FFFFFF;
$background: #202129;
$spotify: #1bd760;
$spinner: #FFFFFF;
$cold-color: #dc6b57;
$medium-color: #ffff6d;
$hot-color: #f4940d;
