// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font: "Bebas Neue", "Helvetica", "sans-serif";

$heading-fs: 2.5rem;
$heading-fw: 900;
$subheading-fs: 2rem;
$subheading-fw: 700;
$text-fs: 1.0rem;
$label-fs: 0.8rem;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
