.light-mode {
  background-color: #e8faff;
  color: $background;
  .y.scroll-snapping {
    width: 100vw;
    background-image: url('assets/11.png');
    background-position: top 0 left -20%;
    background-repeat: no-repeat;
  }
  .dropdown i, .dropdown a, a.header-text {
    color: $background !important;
  }

  .gallery-user>p>small {
    color: $background;
  }

  .gallery-photo {
    border: 7px solid #bdf0fe;
  }

  .event-card>h1 {
    color:#e2f9ff
  }

  .event-form {
    background-color: #dbf3fe;
    box-shadow: 2px 5px 10px rgb(161, 161, 161);
    color: $cold-color;
  }

  #event_title {
    color: $cold-color;
    background-color: #f0faff;
    box-shadow: inset 2px 5px 10px rgba(161, 161, 161, 0.7);
  }

  #event_title::placeholder {
    color: #a3bbc2;
  }

  // New event songs preview on playlists#new

  li button.episode {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $background;
    border-bottom: 1px solid rgba($color: $background, $alpha: .2);
  }

  .event-cell-card {
    color: $white;
  }

  // trashcan

  a>i.text-white.fa-solid.fa-trash {
    color: $background !important;
  }

  .menu-bar {
    background-color: rgb(190, 241, 255);
    box-shadow: 4px 0 20px rgba(87, 121, 130, 0.1);

    a {
      color: #424451;
    }
  }

  #menu-create {
    transform: translateX(-50%);
    border: 10px solid #e8faff;
    background-color: #ff8f63;
    color: $background;
  }

  #menu-create::before {
    background-color: rgb(190, 241, 255);
    box-shadow: 7px -.2px #e8faff;
  }
  #menu-create::after {
    background-color: rgb(190, 241, 255);
    box-shadow: -8px -.2px #e8faff;
  }

  .current#add i{
    color: $white !important;
    // text-shadow: 0 0 15px $white, 0 0 15px $white;
  }

  .current i{
    color: #ff8f63;
    // text-shadow: 0 0 15px $white, 0 0 15px $white;
  }


  .playlist-card>h1 {
    color: $white;
  }

  .cta-button {
    background-color: #ff8f63;
    box-shadow: 2px 2px 10px rgba($black, .3);

    &:hover {
      background-color: #ff8f63;
      color: $white;
    }
  }

  .search-btn {
    background-color: #ff8f63;
    border: none;

    &:active {
      background-color: $medium-color;
      border: none;
    }
  }

  .form-control.is-valid {
    color: #ff8f63;
  }

  .user-search-card span{
    color: $background;
  }

  // event buttons
  a.default {
    background-color: #ff8f63;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.4);
  }

  .event-button, .create-btn{
    background-color: #ff8f63;
  }

  .event-button, .create-btn{
    background-color: #ff8f63;
  }

  #edit-button{
    i {
      color: #ff8f63;
    }
    a {
      color: #ff8f63;
    }
    p {
      color: #ff8f63;
    }
  }

  a.is-selected {
    border: none;
    color: $background;
    background-color: $medium-color;
    font-weight: bold;
    box-shadow: inset 3px 4px 5px rgba($black,0.4);
  }

  @media(max-width: 401px) {
    .y.scroll-snapping {
      background-position: top 10rem left 25%;
      background-size: 270%;
    }
  }

  @media(max-width: 680px) and (min-width: 401px) {
    .y.scroll-snapping {
      background-position: top 10rem left 30%;
      background-size: 400%;
    }
  }

  @media(max-width: 900px) and (min-width: 681px) {
    .y.scroll-snapping {
      background-position: top 10rem left 17%;
    }
  }

  @media(max-width: 1080px) and (min-width: 901px) {
    .y.scroll-snapping {
      background-position: top left -5%;
    }
  }
}
