.hide {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.hide.active {
  transform: translateX(0);
  filter: blur(0);
  opacity: 1;
}


.greeting {
  padding-top: 30vh;
  font-size: 3em;
}

.carousel-greeting {
  padding-top: 0vh;
}

.y.scroll-snapping {
  width: 100vw;
  background-image: url('assets/12.png');
  background-position: top 0 left 5%;
  background-repeat: no-repeat;
}

// html {
//   scroll-snap-type: y mandatory;
// }


.container-scroll {
  min-height: 100vh;
  scroll-snap-align: center;
}

.carousel-container {
  scroll-snap-align: center;
}

.gallery-container {
  padding-top: 10vh;
  scroll-snap-align: start;
  min-height: 100vh;
}

@media(max-width: 400px) {
  .y.scroll-snapping {
    background-position: top 15rem left -17rem;
    background-size: 300%;
  }
  .carousel-container {
    height: 70vh;
  }
}

@media(max-width: 850px) and (min-width: 401px) {
  .y.scroll-snapping {
    background-position: top 5rem left -20rem;
  }
  .carousel-container {
    height: 70vh;
  }
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
