.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background;
  flex-grow: 1;
  width: 100%;

  h1 {
    color: $white;
    font-size: $heading-fs;
    font-weight: $heading-fw;
  }
}

.webgl {
  position: relative;
}

.intro {
  position: absolute;
  top: 50%;
}
