.modal-container {
  position: relative;
  width: 85%;
  margin: 0 auto;
  margin-top: 5%;
}

.profile-modal {
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  z-index: 2;
  position: fixed;
  top:10%;
  bottom:10%;
  margin:auto;

  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .5rem;
}

.hidden {
  display: none;
}
