// Styles for My Vault page
.vault-top {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  // border-bottom: 1px solid $dark-gray;
}

.vault-bottom {
  width: 100%;
  margin: 2rem auto 0;
}

// Styles for the event carousel
.event-carousel {
  padding: 1rem 0;
  max-height: 10rem;
  max-width: 900px;
  margin: 0 auto;
  // margin-bottom: 5rem;
}

.event-cell {
  width: 70%;
  max-width: 300px;
  margin: 1.2rem 10px 1.2rem 0;

  * {
    opacity: 0.8;
    transform: scale(0.8);
    box-shadow: 0;
    transition: all 0.5s;
  }

  &.is-selected * {
    opacity: 1;
    transform: scale(0.9);
    transition: all 0.5s;
  }
}

.event-cell-card {
  position: relative;
  background: $cold-color;
  border: 0;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  text-align: center;

  a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
  }
}

#vault-events {
  overflow-x: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  height: 3rem;
}

#vault-events li{
  white-space: nowrap;
  margin: auto 0;
}

#vault-events::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

#vault-events-container {
  height: 3rem;
}
