// Styles for My Vault page
.vault-top {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.vault-bottom {
  width: 100%;
  margin: 2rem auto 1rem auto;
}

// Styles for the event carousel
.event-carousel {
  padding: 1rem 0;
  max-height: 10rem;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.event-cell {
  width: 70%;
  max-width: 300px;
  margin: 1.2rem 10px 1.2rem 0;
  border-radius: .5rem;
}

.event-cell * {
  opacity: 0.8;
  transform: scale(0.8);
  box-shadow: 0;
  transition: all 0.5s;
}

.event-cell.is-selected * {
  opacity: 1;
  transform: scale(0.8);
  box-shadow: 0px 0px 15px 5px $cold-color;
  transition: all 0.5s;

}

.event-cell-card {
  position: relative;
  width: 100%;
  height: 100%;
  background: $cold-color;
  border: 0;
  border-radius: .5rem;
  // font-size: $label-fs;
  overflow: hidden;

  & a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
  }
}