<div class="oauth-signin">
  <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" height="20px" width="20px" class="oauth-signin-image">
  <p class="oauth-signin-text">Continue with Spotify</p>
  <%= link_to "", '/auth/spotify', method: :post, class: "oauth-signin-link" %>
</div>
