<div class="user-profile-form">
  <%= simple_form_for(current_user) do |f| %>
    <%= f.input :nickname, label: "Nickname", placeholder: "Enter your nickname", required: false %>
    <%= f.input :avatar, as: :file, label: "Upload new profile picture" %>
    <%= f.submit "Save", class: "event-button w-50", style: "margin: 2rem auto;" %>
  <% end %>
</div>