<div class="container">
  <div class="vault-top">
    <h1 class="text-center">My Vault</h2>
    <div class="event-carousel" data-controller="flickity">
      <% @events.each_with_index do |event, index| %>
        <div class="event-cell">
          <div class="event-cell-card">
            <%= event.title %>
            <%= link_to "", edit_event_path(event) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="vault-bottom">
    <% if @playlists.empty? %>
      <%= render "shared/default_profile" %>
    <% else %>
      <%= render "shared/profile", playlists: @playlists.order(created_at: :DESC).first(12) %>
    <% end %>
  </div>
