  <div class="vault-top">
    <h2 class="text-center">Your Events</h2>
    <div class="event-slide" data-flickity='{ "wrapAround": true, "pageDots": false, "prevNextButtons": false }'>
      <% @events.each_with_index do |event, index| %>
        <div class="event-cell">
          <div class="event-cell-card text-center py-4"><%= event.title %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="vault-bottom">
    <h2 class="text-center">Your Vault</h2>
    <div class="main-carousel" data-flickity='{     "wrapAround": true,
      "pageDots": false,
      "prevNextButtons": false }'>
      <% @playlists.each do |playlist| %>
        <div class="carousel-cell">
          <p><%= playlist.title %></p>
          <%= render 'shared/event_image_card' %>
        </div>
      <% end %>
    </div>
  </div>
