<div class="container">
  <div class="vault-top">
    <h1 class="text-center">My Vault</h2>
    <div class="default-events" id="#vault-events-container">
      <ul id="vault-events" class="list-unstyled d-flex justify-content-start gap-3">
        <% @events.each do |event| %>
          <li><%= link_to event.title, edit_event_path(event), class: "btn default vault-event" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="vault-bottom">
    <% if @playlists.empty? %>
      <%= render "shared/default_profile" %>
    <% else %>
      <%= render "shared/profile", playlists: @playlists.order(created_at: :DESC).first(12) %>
    <% end %>
  </div>
</div>
