<div class="d-flex flex-column" style="margin-top: 50px; !important">
  <p class="text-center">You have no playlist at the moment</p>
  <%= link_to new_event_path, class:"text-decoration-none" do %>
    <button class="btn create-btn">Create playlist</button>
  <% end %>
</div>
