<div class="event-form">
  <div class="range">
    <div class="range-slider">
      <span class="range-selected"></span>
    </div>
    <div class="range-input">
      <input type="range" class="min" min="0" max="1000" value="300" step="10">
      <input type="range" class="max" min="0" max="1000" value="700" step="10">
    </div>
  </div> 
</div>