<div class="event-card" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0) 60%), url('<%= cl_image_path playlist.photo.key, crop: :fill %>')">
  <h1><%= playlist.title %></h1>
</div>