<div class="gallery-card mx-auto">
  <div class="gallery-photo">
    <img src="https://static.toiimg.com/thumb/resizemode-4,msid-76729750,imgsize-249247,width-720/76729750.jpg" alt="">
  </div>

  <div class="gallery-user d-flex align-items-center gap-3 mt-2">
    <img class="avatar" src="https://static.toiimg.com/thumb/resizemode-4,msid-76729750,imgsize-249247,width-720/76729750.jpg" alt="">
    <p><small>Username</small></p>
  </div>
  <div class="mt-2 ml-6">
    <p>This is some regular text</p>
  </div>
</div>
