<div class="gallery-card" data-controller="gallery-card" data-action="click->gallery-card#click">
  <div class="scene scene--card">
    <div class="card" data-gallery-card-target="card">
      <div class="card__face card__face--front">
        <div class="gallery-photo">
          <img src="https://images.unsplash.com/photo-1552570173-43e2d76c37f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" alt="">
        </div>

        <div class="gallery-user d-flex align-items-center gap-3 mt-2">
          <img class="avatar" src="https://static.toiimg.com/thumb/resizemode-4,msid-76729750,imgsize-249247,width-720/76729750.jpg" alt="">
          <p><small>Username</small></p>
        </div>
        <div class="mt-2 ml-6">
          <p>This is some regular text</p>
        </div>
      </div>
      <div class="card__face card__face--back">
          <iframe style="border-radius:12px;" src="https://open.spotify.com/embed/playlist/1UCY5fAnCk6w590OuAWvFS?utm_source=generator&theme=0" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>