<div class="header">
  <div class="dropdown">
    <button class="header-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-item"><%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete} %></li>
    </ul>
  </div>

  <%= link_to "SOUNDSTATE", root_path, style: 'text-decoration: none; color: white;' %>

  <div class="dropdown">
    <button class="header-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-item"><%= render "shared/search_bar" %></li>
    </ul>
  </div>
</div>
