<div class="menu-bar ">
  <div class="ml-3">
    <i class="fa-solid fa-house fa-lg"></i>
    <p><small>Home</small></p>
  </div>
  <div>
    <i class="fa-solid fa-headphones fa-lg"></i>
    <p><small>Music</small></p>
  </div>
  <div>
    <i class="fa-regular fa-square-plus fa-xl"></i>
    <p><small>Create</small></p>
  </div>
  <div>
    <i class="fa-solid fa-border-all fa-lg"></i>
    <p><small>Gallery</small></p>
  </div>
  <div>
    <i class="fa-solid fa-heart fa-lg"></i>
    <p><small>Vault</small></p>
  </div>
</div>
