<div class="menu-bar align-items-center">
  <div class="ml-3">
    <i class="fa-solid fa-house fa-md"></i>
    <p><small>Home</small></p>
  </div>
  <div>
    <i class="fa-solid fa-headphones fa-md"></i>
    <p><small>Music</small></p>
  </div>
  <div>
    <i class="fa-regular fa-square-plus fa-xl"></i>
  </div>
  <div>
    <i class="fa-solid fa-border-all fa-md"></i>
    <p><small>Gallery</small></p>
  </div>
  <div>
    <i class="fa-solid fa-heart fa-md"></i>
    <p><small>Vault</small></p>
  </div>
</div>
