<div class="profile-wrapper" data-controller="profile-modal">
  <% playlists.each do |playlist| %>
    <div class="profile-card" data-controller="profile-card" data-action="click->profile-card#click">
      <div class="profile-scene scene--card" data-action="click->profile-modal#open">
        <div class="card" data-profile-card-target="card">
          <div class="profile_card__face profile_card__face--front">
            <div class="profile-card">
              <%= cl_image_tag playlist.photo.key %>
            </div>
          </div>
          <div class="profile_card__face profile_card__face--back">
              <button class="btn-play"><i class="fa-solid fa-play"></i></button>
          </div>
        </div>
      </div>
    </div>

    <section class="profile-modal hidden" data-profile-modal-target="modal" style="margin:0 auto">
      <div class="modal-container">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="m-0"><%= playlist.title %></h1>
          <i class="fa-solid fa-lock"></i>
          <span data-action="click->profile-modal#close">X</span>
        </div>
        <iframe id="playlist-show" style="border-radius:12px" src=<%= "https://open.spotify.com/embed/playlist/#{playlist.spotify_id}?utm_source=generator&theme=0" %> width="100%" height="1000" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </section>
  <% end %>
</div>
