<div class="profile-card" data-controller="profile-card" data-action="click->profile-card#click" data-share-button-target="background">
  <div class="profile-scene scene--card" data-action="click->profile-modal#open">
    <div class="card" data-profile-card-target="card">
      <div class="profile_card__face profile_card__face--front">
        <div class="profile-card">
          <%= cl_image_tag playlist.photo.key %>
        </div>
      </div>
      <div class="profile_card__face profile_card__face--back">
          <button class="btn-play"><i class="fa-solid fa-play"></i></button>
      </div>
    </div>
  </div>
</div>
