<div>
  <%= form_with url: users_path, method: :get, class: "d-flex flex-grow-1", data: {search_target: "form"} do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-bar",
      placeholder: "search by username",
      required: true,
      data: {
        search_target: "input",
        action: "keyup->search#update"}
    %>
    <button class='search-btn btn btn-dark'>search</button>
  <% end %>
</div>
