<div class="w-100 h-100 flex-grow-1 d-flex justify-content-center align-items-center position-relative">
  <div class="event-form" data-controller="slider">
    <% if event.persisted? %>
      <%= link_to user_path(current_user), class: "event-edit-cancel-btn" do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    <% end %>
    <%= render 'events/event_simple_form', event: @event %>
  </div>
</div>
