<div class="container" data-controller="default">
  <h1 class="text-center mb-3">Choose Your Filters</h1>
  <p class="text-center mb-3">Choose from defaults or create your own</p>
  <div class="default-events">
    <ul class="list-unstyled d-flex justify-content-center gap-3">
      <li><%= link_to @default_events[0].title, edit_event_path(@default_events[0]), class: "btn default", data: {default_target: "defaultEvent", action: "click->default#renderDefault"} %></li>
      <li><%= link_to @default_events[1].title, edit_event_path(@default_events[1]), class: "btn default", data: {default_target: "defaultEvent", action: "click->default#renderDefault"} %></li>
      <li><%= link_to @default_events[2].title, edit_event_path(@default_events[2]), class: "btn default", data: {default_target: "defaultEvent", action: "click->default#renderDefault"} %></li>
    </ul>
  </div>
  <%= render 'events/event_form', event: @event %>
</div>
