<div data-controller="homepage" class="y scroll-snapping">
  <div class="container container-scroll" data-controller="time-zone">
    <h2 class="hide greeting" data-homepage-target="hide">Good <span data-time-zone-target="dayPeriod"></span>, <br>
      <em><%= current_user.nickname %></em></h2>
  </div>
  <div class="container carousel-container <%= "d-none" if current_user.user_playlists.empty? %>">
    <h2 class="hide carousel-greeting text-center" data-homepage-target="hide">Here is what you have been listening to</h2>
    <!-- Carousel -->
    <div class="carousel hide" data-controller="flickity" data-homepage-target="hide">
      <% current_user.user_playlists.each do |playlist| %>
        <div class="carousel-cell">
          <%= render 'shared/event_image_card', playlist: playlist %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Gallery Feed -->
  <div class="gallery-container">
    <div class="container mt-6 text-center">
      <h2 class="hide mb-3" data-homepage-target="hide">Discover Playlists</h2>
    </div>
    <div class="hide" data-homepage-target="hide">
      <% current_user.others_playlists.sample(10).each do |playlist| %>
        <%= render "shared/gallery_card", playlist: playlist %>
      <% end %>
    </div>
  </div>
</div>
