<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- Flickity HTML init -->
<div class="carousel">
  <% 5.times do %>
    <%= render 'shared/event_image_card' %>
  <% end %>
</div>