<div class="container">
  <h1>Good morning, <em>Banu</em></h1>
</div>
<!-- Carousel -->
<div class="carousel" data-flickity='{ "wrapAround": true, "pageDots": false, "prevNextButtons": false }'>
  <% 5.times do %>
    <div class="carousel-cell">
      <%= render 'shared/event_image_card' %>
    </div>
  <% end %>
</div>
<!-- Gallery Feed -->
<div class="container mt-6 text-center">
  <h4>Discover New Playlists</h4>
</div>
<div>
  <% 3.times do %>
    <%= render "shared/gallery_card" %>
  <% end %>
</div>
