<div class="container">
  <h2>Good <%= @day_period %>, <em><%= @nickname %></em></h2>
</div>
<!-- Carousel -->
<div class="carousel" data-flickity='{ "wrapAround": true, "pageDots": false, "prevNextButtons": false }'>
  <% 5.times do %>
    <div class="carousel-cell">
      <%= render 'shared/event_image_card' %>
    </div>
  <% end %>
</div>
<!-- Gallery Feed -->
<div class="container mt-6 text-center">
  <h2>Discover New Playlists</h2>
</div>
<div>
  <% 3.times do %>
    <%= render "shared/gallery_card" %>
  <% end %>
</div>
