<div class="container">
  <h1>Good morning,</h1>
  <h1><em>Banu!</em></h1>
</div>
<!-- Carousel -->
<div class="main-carousel" data-flickity='{     "wrapAround": true,
    "pageDots": false,
    "prevNextButtons": false }'>
  <% 5.times do %>
    <div class="carousel-cell">
      <%= render 'shared/event_image_card' %>
    </div>
  <% end %>
</div>
<!-- Gallery Feed -->
<div class="container mt-6">
  <h4>Discover New Playlists</h4>
</div>
<div>
  <% 3.times do %>
    <div>
      <%= render "shared/gallery_card" %>
    </div>
  <% end %>
</div>
<!--temporary playlist embed test zone-->
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1UCY5fAnCk6w590OuAWvFS?utm_source=generator&theme=0" width="100%" height="1000" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
