<div class="container">
  <h2>Good <%= current_user.day_period %>, <em><%= current_user.nickname %></em></h2>
</div>
<!-- Carousel -->
<div class="carousel" data-controller="flickity">
  <% current_user.user_playlists.each do |playlist| %>
    <div class="carousel-cell">
      <%= render 'shared/event_image_card', playlist: playlist %>
    </div>
  <% end %>
</div>
<!-- Gallery Feed -->
<div class="container mt-6 text-center">
  <h2>DISCOVER PLAYLISTS</h2>
</div>
<div>
  <% current_user.others_playlists.each do |playlist| %>
    <%= render "shared/gallery_card", playlist: playlist %>
  <% end %>
</div>
