<div class="landing-wrapper">
  <canvas class="webgl" data-controller="logo"></canvas>
  <h1>SOUNDSTATE</h1>
  <%= render 'devise/shared/spotify_oauth_button' %>
</div>
<!-- Modal -->
<div class="modal" id="loginSpinnerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content d-flex justify-content-center align-items-center"  style='background: black; opacity: 0.87'>
      <%= render 'login_spinner' %>
    </div>
  </div>
</div>
