<div class="modal" style="display: block" id="loginSpinnerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content d-flex justify-content-center align-items-center"  style='background: black; opacity: 0.87'>
      <%= render 'gather_songs_spinner' %>
    </div>
  </div>
</div>
<a href="<%= load_songs_path %>" style="visibility: hidden; z-index: -1" data-controller="load-songs"></a>