/* external css: flickity.css */

.content {  
  min-height: 200px;
}
  
.carousel {
  background: #EEE;
}
  
.carousel-cell {
  margin-right: 10px;
}

/* cell number */
// .carousel-cell:before {
//   display: block;
//   text-align: center;
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }