/* external css: flickity.scss */

.carousel {
  padding: 1.2rem 0;
  max-width: 900px;
  margin: 0 auto;
}
  
.carousel-cell {
  width: 70%;
  max-width: 300px;
  margin-right: 10px;

  * {
    opacity: 0.8;
    transform: scale(0.9);
    transition: 0.5s;
  }

  &.is-selected * {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;
  }
}