.default-events ul {
 margin-left: 0;
 padding-left: 0;
 margin-top: 2em;
 margin-bottom: 2em;
}

a.default {
  height: 2em;
  padding: 0.2em 0.5em;
  font-size: small;
  background-color: $cold-color;
  border-radius: 2.5em;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 1);
  white-space: nowrap;
}
