.event-form {
  background-color: $dark-gray;
  width: 80%;
  max-width: 300px;
  padding: 5% 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  color: $white;
}

.event-button {
  background-color: transparent;
  border: 0;
  color: $white;
  font-size: $subheading-fs;
  padding: 0.5em;
  width: 100%;
}
