.event-form {
  position: relative;
  background-color: rgb(25, 25, 25);
  // border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .6rem;
  transition: all ease .3s;
  color: #dc8a57;
  width: 90%;
  max-width: 360px;
  min-width: 320px;
  padding: 1.6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 5px 10px rgb(5, 5, 5);
}

.event-button {
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: $cold-color;
  // background-image: linear-gradient(155deg,#e4cd70,#dc6b57 40%,#f4940d);
  text-decoration: none;
  display: block;
  line-height: 40px;
  font-size: 13px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  border: none;
  transition: all 0.3s;

  &:hover {
    background-color: $medium-color;
    color: $background;
  }
}


.event-form label{
  font-size: $text-fs * 0.8;
}

.new_event, .edit_event {
  width: 100%;
}

#event_title {
  border: none;
  border-radius: 10px;
  padding: 1em;
  border: none;
  outline: none;
  color: $cold-color;
  background-color: #242424;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.event-edit-cancel-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: $gray;
  font-size: 1.2rem;

  &:hover {
    color: $gray;
  }
}


@media only screen and (max-width: 600px) {
  #event_title {
    background-color: #2e2e2e;
  }

  #event_title::placeholder {
    color:#9b9a9a;
  }
}
