.event-form {
  background-color: $dark-gray;
  width: 80%;
  max-width: 300px;
  padding: 5% 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}