.gallery-card {
  display: flex;
  justify-content: center;
  max-width: 380px;
  margin: 0 auto;
}

.scene {
  display: inline-block;
  width: 90%;
  min-width: 340px;
  aspect-ratio: 1/1.14;
  perspective: 600px;
  margin-bottom: 2em;
}

.card {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.gallery-photo {
  align-items: center;
  border: 7px solid $dark-gray ;
  border-radius: 0.2em;
  transition: all 0.3s;

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}

.card {
  border: none;
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
  background: transparent;
  padding: .6em;
  margin-top: 8%;
  height: 100%;
  width: 100%;

  // background-color: rgba(0, 0, 0, 1);
  // border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .2rem;
  transform: scale(1);
  transition: all ease .3s;

  p {
    color: $light-gray;
    margin: 0;
  }
}

.card__face--front {
  margin: 0 auto;

  &:hover .gallery-photo{
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.0754);
    // border: 1px solid rgba(255, 255, 255, 0.0754);
    transform: scale(1.02);
  }
}

.card__face--back {
  background: #282828;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.gallery-user {
  display: flex;
  position: relative;
  padding-left: 0.5rem;

  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
