.gallery-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.scene {
  display: inline-block;
  width: 90%;
  aspect-ratio: 1/1.23;
  perspective: 600px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.card {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  width: 100%;
  height: 100%;
}

.gallery-photo {
  align-items: center;

  img {
    background-color: $dark-gray;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
  // height: 350px;
  background: $dark-gray;
  padding: .6em;
  margin-top: 8%;
  height: 100%;

  p {
    color: $light-gray;
    margin: 0;
  }
}

.card__face--front {
  background: $dark-gray;
  margin: 0 auto;
}

.card__face--back {
  background: #282828;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.gallery-user {
  display: flex;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
