.header {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  color: $white;
  font-size: larger;
  align-content: center;
  align-items: center;
}

.header-dropdown {
  border: 0;
  background-color: transparent;
  color: $white;
}

.dropdown-item {
  a {
    text-decoration: none;
    color: $gray;
  }

  &:hover {
    background-color: $light-gray;
  }
}