.menu-bar {
  position: fixed;
  bottom: 0;
  background-color: rgba(25, 25, 25, 0.9);
  color: $gray;
  font-size: large;
  width: 100%;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1.5%;
  padding-left: 10%;
  padding-right: 10%;

  a {
    color: $gray;
    text-decoration: none;
  }
}

.current {
  text-shadow: 0 0 15px rgba($color: #FFFFFF, $alpha: 0.9);
}
