.menu-bar {
  position: fixed;
  bottom: 0;
  background-color: rgba(25, 25, 25, 0.9);
  color: $gray;
  font-size: large;
  width: 100%;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1.5% 10%;

  a {
    color: $gray;
    text-decoration: none;
    padding: 3% 0% 5%;
  }
}

.current i{
  font-size: 1.5rem;
  color: #FFFFFF;
  text-shadow: 0 0 20px rgba(#FFFFFF, $alpha: 1);
}
