// Animation for the image rotation.
.playlist-loader {
  margin: 0 auto;
  height: 180px;
  width: 180px;
  background-size: cover;
  animation-name: bg-image-animation;
  animation-duration: 8s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
}

@keyframes bg-image-animation {
  0% {
    background-image: url("sample_image_1.png");
  }
  
  10% {
    background-image: url("sample_image_2.png");
  }
  
  20% {
    background-image: url("sample_image_3.png");
  }
  
  30% {
    background-image: url("sample_image_4.png");
  }
  
  40% {
    background-image: url("sample_image_5.png");
  }
  
  50% {
    background-image: url("sample_image_6.png");
  }
  
  60% {
    background-image: url("sample_image_7.png");
  }
  
  70% {
    background-image: url("sample_image_8.png");
  }
  
  80% {
    background-image: url("sample_image_9.png");
  }
  
  90% {
    background-image: url("sample_image_10.png");
  }
  
  100% {
    background-image: url("sample_image_1.png");
  }
}

// Animation for the text wave form.
.spinner {
  height: 50px;
  width: max-content;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner p {
  animation: loading-wave 1.5s ease infinite;
}

$total: 18;
@for $i from 1 through $total {
  .spinner p:nth-child(#{$i}) {
    animation-delay: $i * 1.5s / $total;
  }
}

@keyframes loading-wave {
  0%, 100% {
   transform: translateY(0);
  }

  50% {
   transform: translateY(-15px);
  }
}
