.profile-header {
  margin: 0 8%;
  display: flex;
  align-items: center;

  & img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }

  & h2 {
    margin: 0 0.5em;
    font-size: 1.5rem;
  }
}

.profile-wrapper {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 8%;

  .profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  }
}

.profile-scene {
  display: inline-block;
  width: 90%;
  aspect-ratio: 1/1;
  // perspective: 600px;
  // margin-bottom: 2em;
}

.card {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.profile_card__face {
  position: absolute;
  backface-visibility: hidden;
  background: transparent;
  padding: .2em;
  margin-top: 8%;
  height: 100%;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .5rem;
  transform: scale(1);
  transition: all ease .3s;

  p {
    color: $light-gray;
    margin: 0;
  }
}

.profile_card__face--front {
  margin: 0 auto;

  &:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
    transform: scale(1.02);
  }
}

.profile_card__face--back {
  background: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}


@media only screen and (min-width: 600px) {
  .profile-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
