// Variables for sliders
$slider-bar-height: 5px;
$thumb-height: 20px;
$thumb-top-position: -($slider-bar-height);
$track-inner-color: $gray;
$track-outer-color: $light-gray;
$thumb-bg-color: $white;
$thumb-border-color: $gray;
$cold-color: #F1C6FF;
$medium-color: #F88EBE;
$hot-color: #FF587F;

// Styling for dual slider
.range {
  margin: 1.2rem 0;
  width: 100%;
}

.range-slider {
  height: $slider-bar-height;
  position: relative;
  background-color: $track-outer-color;
  border-radius: $slider-bar-height;
}
.range-selected {
  height: 100%;
  position: absolute;
  border-radius: $slider-bar-height;
  background: linear-gradient(to right, $cold-color, $hot-color);
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: $slider-bar-height;
  top: $thumb-top-position;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: $thumb-height;
  width: $thumb-height;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
}
.range-input input::-moz-range-thumb {
  height: $thumb-height;
  width: $thumb-height;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
}

.range-input .min::-webkit-slider-thumb {
  background-color: $cold-color;
}

.range-input .min::-moz-range-thumb {
  background-color: $cold-color;
}

.range-input .max::-webkit-slider-thumb {
  background-color: $hot-color;
}

.range-input .max::-moz-range-thumb {
  background-color: $hot-color;
}

// Styling for Time slider
.time-slider {
  -webkit-appearance: none;
  margin: 1.2rem 0;
  width: 100%;
  background-color: transparent;
}
.time-slider:focus {
  outline: none;
}
.time-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: $slider-bar-height;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(to right, $cold-color, $hot-color);
  border-radius: $slider-bar-height;
}
.time-slider::-webkit-slider-thumb {
  height: $thumb-height;
  width: $thumb-height;
  border-radius: 50%;
  background-color: $medium-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
.time-slider:focus::-webkit-slider-runnable-track {
  background: $track-outer-color;
  border-radius: $slider-bar-height;
}
.time-slider::-moz-range-track {
  width: 100%;
  height: $slider-bar-height;
  cursor: pointer;
  animate: 0.2s;
  background: $track-outer-color;
  border-radius: $slider-bar-height;
}
.time-slider::-moz-range-thumb {
  height: $thumb-height;
  width: $thumb-height;
  border-radius: 50%;
  background-color: $medium-color;
  cursor: pointer;
}
.time-slider::-ms-track {
  width: 100%;
  height: $slider-bar-height;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.time-slider::-ms-fill-lower {
  background: $track-outer-color;
  border-radius: $slider-bar-height;
}
.time-slider::-ms-fill-upper {
  background: $track-outer-color;
  border-radius: $slider-bar-height;
}
.time-slider::-ms-thumb {
  margin-top: 1px;
  height: $thumb-height;
  width: $thumb-height;
  border-radius: 50%;
  background-color: $medium-color;
  cursor: pointer;
}
.time-slider:focus::-ms-fill-lower {
  background: $track-outer-color;
}
.time-slider:focus::-ms-fill-upper {
  background: $track-outer-color;
}