.oauth-signin {
  position: relative;
  width: 80%;
  max-width: 250px;
  height: 3rem;
  overflow: hidden;
  // border: 1px solid gray;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem auto;
  margin-top: 13rem;
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: transform 0.5s;
  box-shadow: 0 0 30px 5px rgb(60, 60, 60);

  &:hover {
    transform: scale(1.05);
    background: rgb(61, 106, 255);
    box-shadow: 0 0 50px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}

.oauth-signin-image {
  display: block;
}

.oauth-signin-text {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: $white;
  font-weight: 500;
  font-size: 0.9rem;
  flex-grow: 1;
  margin: 0;
}

.oauth-signin-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.5s;
}




@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
