.oauth-signin {
  position: relative;
  width: 80%;
  max-width: 250px;
  height: 3rem;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.oauth-signin-image {
  display: block;
}

.oauth-signin-text {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: $white;
  font-weight: 500;
  font-size: 1rem;
  flex-grow: 1;
  margin: 0;
}

.oauth-signin-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.5s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}