ul#episodes {
  max-width: 300px;
  max-height: 350px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  border-radius: 20px;
}

.episodes-container {
  display: flex;
  justify-content: center;
}

li.episodes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba($color: $white, $alpha: .2);
}

li button.episode {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul#episodes::-webkit-scrollbar, .list-items-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


#new-playlist>h1, #new-playlist>p {
  margin-bottom: 2rem;
}

#new-playlist h1 {
  text-align: center;
}

#new-playlist a, #new-playlist i {
  text-decoration: none;
  color: $cold-color;
}

#generate-button p{
  color: $cold-color;
  cursor: pointer;
}

.create-btn {
  color: #fff;
  width: 20%;
  border-radius: 10px;
  background-color: $cold-color;
  text-decoration: none;
  display: block;
  line-height: 40px;
  font-size: 13px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  border: none;
  margin: 3em auto;
  transition: all 0.3s;

  &:hover {
    background-color: $medium-color;
    color: $background;
  }
}

@media(max-width: 400px) {
  #new_playlist {
    max-width: 100%;
    padding: 0 1rem
  }
  .create-btn {
    width: 50%;
  }
}

@media(max-width: 850px) and (min-width: 401px) {
  #new_playlist {
    max-width: 100%;
    padding: 0 2rem
  }
  .create-btn {
    width: 40%;
  }
}
