<div class='d-flex flex-column align-items-center'>
  <div class="playlist-loader"></div>
  <div class="spinner">
    <p>C</p>
    <p>R</p>
    <p>E</p>
    <p>A</p>
    <p>T</p>
    <p>I</p>
    <p>N</p>
    <p>G</p>
  </div>
  <div class="spinner">
    <p>P</p>
    <p>L</p>
    <p>A</p>
    <p>Y</p>
    <p>L</p>
    <p>I</p>
    <p>S</p>
    <p>T</p>
    <p>.</p>
    <p>.</p>
  </div>
</div>
