<div class='d-flex flex-column gap-5'>
  <div class="playlist-loader"></div>
  <div class="spinner">
    <p>&nbsp;</p>
    <p>L</p>
    <p>O</p>
    <p>A</p>
    <p>D</p>
    <p>I</p>
    <p>N</p>
    <p>G</p>
    <p>.</p>
    <p>.</p>
  </div>
</div>
