<div>
  <div data-image-creation-target='image' class='text-center d-none'>
    <img src="" alt="">
  </div>
  <div style='cursor: pointer' class='d-flex d-none justify-content-center py-4' data-image-creation-target='regenerateButton'>
    <i class='fa-solid fa-arrows-rotate' data-action='click->image-creation#generateImage'></i>
  </div>
</div>
