<div data-controller="profile-modal">


  <%# <div class="overlay-hidden" data-controller="profile-modal" data-profile-modal-target="overlay"></div> %>

  <div class="container">
    <h2><%= @user.nickname.capitalize %>'s Gallery</h2>
  </div>
  <%= render "shared/profile", playlists: @playlists %>
</div>
