<div class="container">
  <h2><%= @user.nickname.capitalize %>'s Gallery</h2>
  <%= @user["images"] %>

  <div class="container">
    <%= render "shared/profile", playlist: @playlist %>
  </div>
</div>
