<div class="container">
  <div class="profile-header mb-5">
    <%= render 'shared/user_avatar_small', user: @user %>
    <h1 class="text-center"><%= @user.nickname %>'s Gallery</h2>
  </div>
  <% if @playlists.where(is_shared: true).empty?  %>
    <%= render "shared/default_gallery" %>
  <% else %>
    <%= render "shared/profile", playlists: @playlists.where(is_shared: true).order(updated_at: :desc).first(12) %>
  <% end %>
</div>
