<div class="container">
  <div class="profile-header">
    <%= render 'shared/user_avatar_small', user: @user %>
    <h1 class="text-center"><%= @user.nickname.capitalize %>'s Gallery</h2>
  </div>
  <% if @playlists.where(is_shared: true).empty?  %>
    <%= render "shared/default_gallery" %>
  <% else %>
    <%= render "shared/profile", playlists: @playlists.where(is_shared: true).order(created_at: :DESC) %>
  <% end %>
</div>
